@import "~normalize.css/normalize";

body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  margin: 0;
  top: 0;
  background: #757272;
  position: fixed;
  z-index: 1;
}

ul {
  height: 70px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

li {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  a {
    font-size: 18px;
    color: #b9c8d0;
    text-decoration: none;
    padding: 5px;
    &.active {
      color: #d4e256;
    }
    &:hover {
      color: #ebd4aa;
    }
  }
}

.gallery {
  margin-top: 90px;
}

.react-photo-gallery--gallery {
  padding: 0 16px;

  .img-container {
    background-color: #f4f4f4;
    margin: 2px;
    position: relative;

    img {
      opacity: 0;
      transition: opacity 1s ease;
    }

    &.loaded {
      margin: 0 2px;
    }

    &.loaded img {
      opacity: 1;
    }

    &.load-error img {
      background-color: #f4f4f4;
    }

    .content-details {
      position: absolute;
      bottom: 0%;
      width: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      margin-bottom: 4px;
      margin-top: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      span {
        padding-left: 10px;
        padding-right: 10px;

        width: 50px;
      }
    }
    .content {
      &:hover {
        .content-details {
          opacity: 1;
          padding: 20px 0 20px;
        }
      }
    }
  }
}
